@use "./_variable.scss" as *;
@use "./mixins" as *;


*,::before,::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    font-family: "NunitoSans",sans-serif;
    background-image: linear-gradient(to bottom right, #5761B2, #1FC5A8);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    height: var(--overlay-height, 100vh);
}

a{
text-decoration: none;    
}


li{
    list-style-type: none;
}


.button{
    background-color: $green;
    border-radius: 4px;
    color: $white;
    width: 6.25rem;
    height: 1.875rem;
    border: none;
    cursor: pointer;
    display: inline-block;

    &:hover{
        background-color: #169a84;
    }
}